@page "/generator"
@using SteinerSpaceTravel.Web.Services
@inject GenerateService GenerateService

<PageTitle>Generator</PageTitle>

<h1>Generator</h1>

<div class="seed-section">
    <div class="input-label">Seed</div>
    <input type="number" min="@ulong.MinValue" max="@ulong.MaxValue" disabled="@GenerateService.IsGenerating" @bind-value="@GenerateService.SeedFrom" />
    ～
    <input type="number" min="@ulong.MinValue" max="@ulong.MaxValue" disabled="@GenerateService.IsGenerating" @bind-value="@GenerateService.SeedTo" />
</div>

<div>
    <button class="btn btn-primary" disabled="@(!GenerateService.CanGenerate || GenerateService.IsGenerating)" @onclick="@GenerateService.DownloadSeedsAsync">Download</button>
    <button class="btn btn-primary" disabled="@(!GenerateService.IsGenerating)" @onclick="@GenerateService.CancelDownloading">Cancel</button>
</div>

<p>@GenerateService.Message</p>